#cards{
    margin-top: 60px;
    .card{
        padding: 10px;
        margin: 10px;
        box-shadow: 3px 3px 3px 3px rgb(238, 238, 238);

        p{
            font-size: $fontsize-16;
        }

        h3{
            font-size: $fontsize-16+2;
            color: $primary-color;
        }
    }
}

@media(max-width:1000px){
    #cards{
        .col-lg-6{
            width: 50%;
        }
    }
}


@media(max-width:750px){
   #cards{
    .col-md-12{
        width: 100%;
    }
   }
}