#about-condition{
    margin-top: 60px;
    h3{
        font-size:28px;
        font-family: "SF Pro Display Regular";
        font-weight: bold;
        margin-left: 50px;
    }

    p{
        font-size: 18px;
        font-family: "SF Pro Display Regular";
    }

    ol{
        li{
            font-size: 20px;
            margin-top: 10px;
            margin-left: -20px;
        }
    }
    .text{
        display: flex

        }
}