#about-tarif {
  .custom-radio input[type="radio"] {
    display: none;
  }

  .custom-radio-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
  }
  .custom-radio input[type="radio"]:checked + .custom-radio-btn {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .custom-radio input[type="radio"]:checked + .custom-radio-btn + .label-text {
    color: $primary-color;
  }

  .img {
    background-image: url(/images/tarif.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 20px;

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .top {
        padding: 10px;
        text-align: center;
        color: $white-color;

        h2 {
          font-size: $fontsize-16 * 2;
        }
        p {
          font-size: $fontsize-16;
        }
      }
      .icons {
        display: flex;
        .icon {
          color: $white-color;
          padding: 4px 12px;
          border: 2px solid $white-color;
          margin-left: 25px;
          border-radius: 5px;

          span {
            font-size: $fontsize-16;
          }
        }
      }
    }
  }

  .margin {
    margin-top: 30px;
  }
  .custom-radio-button input[type="radio"] {
    display: none;
  }

  .custom {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
  }
  .custom-radio-button input[type="radio"]:checked + .custom {
    background-color: orange;
    border-color: orange;
  }
  .custom-radio-button input[type="radio"]:checked + .custom + .label {
    color: orange;
  }
}

@media (max-width: 955px) {
  #about-tarif {
    .margin {
      .custom-radio {
        .custom-radio-btn {
          display: none;
        }
        .label-text {
          border: 2px solid gainsboro;
          padding: 7px;
          border-radius: 5px;
        }
      }

      .custom-radio
        input[type="radio"]:checked
        + .custom-radio-btn
        + .label-text {
        color: $white-color;
        background-color: $primary-color;
      }

      .custom-radio-button {
        .custom {
          display: none;
        }
        .label {
          border: 2px solid gainsboro;
          padding: 7px;
          border-radius: 5px;
        }
      }
      .custom-radio-button input[type="radio"]:checked + .custom + .label {
        color: orange;
        border: 1px solid orange;
      }
    }
  }
}

@media (max-width: 1000px) {
  #about-tarif {
    .img {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      h2 {
        color: black;
      }

      p {
        color: black;
      }
      .flex {
        .icons {
          .icon {
            border: none;
            color: black;

            img {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 630px) {
  #about-tarif{
    .margin{
      display: flex;
      overflow-x: auto;
      width: 100%;
     white-space: nowrap;
    }
  }
}

@media (max-width: 630px) {
  #about-tarif {
    .margin {
      // display: flex;
      // flex-direction: column;
      .custom-radio {
        padding: 10px;
      }
      .custom-radio-button {
        padding: 10px;
      }
    }
  }
}

